.div1
{
    width: 150px;
    height: 150px;
    background: blue;
    border: 1px black solid;
    transition: 0.5s;
}
.div1:hover
{
    background: #ffa0a0;
    width: 200px;
    height: 200px;
}

.border
{
    width: 200px;
    border: 1px rgb(255, 171, 171) solid;
    height: 100px;
    width: 400px;
}
.red 
{
    background: red;
    border: 1px black solid;
    border-radius: 900px;
    width: 95px;
    height: 95px;
    transform: rotate(20deg);
    animation-duration: initial;
}
.div2 {
        margin: 10px;
    border: 16px solid black; 
    border-radius: 50%;
    border-top: 16px solid #0768f2;
    width: 120px;
    height: 120px;
    animation-name: div2;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}

 @keyframes div2 {
    0%{ 
        transform: rotate(0deg); 
    }
    100%{
        transform: rotate(360deg); 
    } 
    50%{ 
        transform: rotate(180deg); 
    }
}
